<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/login" method="POST" class="mb-4">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" name="login" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <input type="submit" value="Login" class="btn btn-primary btn-block">
</form>