<h1 class="text-center mb-3">Order #{{order_id}} at {{displayName}}</h1>
<form action="/api/payments/{{client_secret}}" method="POST" class="mb-4">
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" class="form-control">
    </div>
    <div class="form-group">
        <label for="pk">Private key</label>
        <input type="password" name="pk" class="form-control">
    </div>
    <div class="row">
        {{#if isETH}}
        <div class="col">
            <label for="mode" class="ml-3">Processing time</label>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label><input type="radio" name="mode" value="fast" {{{setChecked mode 'fast'}}}> Fast
                            (~{{mode_fastest}} ETH)</label></br>
                        <label><input type="radio" name="mode" value="average" {{{setChecked mode 'average'}}}>
                            Average (~{{mode_average}} ETH)</label></br>
                        <label><input type="radio" name="mode" value="slow" {{{setChecked mode 'slow'}}}> Slow
                            (~{{mode_slow}} ETH)</label></br>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="col">
            <label class="ml-3">Order details</label>
            <ul class="list-group">
                {{#each order_details}}
                <li class="list-group-item">
                    #{{this.index}}</br>
                    {{this.name}}</br>
                    QTY: {{this.quantity}}</br>
                    Each: {{this.amount}} {{../cryptocurrency}}</br>
                    Sum: {{this.sum}} {{../cryptocurrency}}</br>
                    Description: {{this.notes}}</li>
                {{/each}}
            </ul>
            <label class="ml-3">Total: {{total}} {{cryptocurrency}}</label>
        </div>

    </div>

    <input type="submit" value="Authorize payment" class="btn btn-primary btn-block mt-4">
</form>