<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/register" method="POST" class="mb-4">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" name="login" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Name of your Marketplace</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" class="form-control">
    </div>
    <div class="form-group">
        <label for="redirect_success">Redirect Success URL</label>
        <input type="text" name="redirect_success" class="form-control">
    </div>
    <div class="form-group">
        <label for="redirect_error">Redirect Error URL</label>
        <input type="text" name="redirect_error" class="form-control">
    </div>
    <input type="submit" value="Register" class="btn btn-primary btn-block">
</form>